@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.menu :where(li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title):not(.menu-active, :active, .btn):hover, li:not(.menu-title, .disabled) > details > summary:not(.menu-title):not(.menu-active, :active, .btn):hover) {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.menu :where(li)>*:not(ul, .menu-title, details, .btn):active,
.menu :where(li)>*:not(ul, .menu-title, details, .btn).menu-active,
.menu :where(li)>details>summary:active {
  background-color: transparent !important;
  color: #a092f6 !important;
}

.active {
  color: #3b82f6;
}

html {
  scroll-behavior: smooth;
}